body {
  margin: 0;
  padding: 20px;
  background-color: black;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
}

.hangman-article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hangman-image {
  width: 400px;
}

.overlay-image{
  position: absolute;
  top: 44px;
  left: 63px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 100);
}

.image-container{
  position: relative;
  overflow: hidden;
}

.answer-text {
  margin-top: 20px;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 12px;
  text-align: center;
  margin-bottom: 5px;
}
